<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Controls.Imaging" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net461" />
  <package id="Alturos.DeviceDiscovery" version="1.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Tftp.Net" version="1.1.0.0" targetFramework="net461" />
</packages>